button.NewGameButton {
  display: flex;
  height: 70px;
  width: 100px;
  border: none;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  font-family: 'Arial';
  color: blue;
  padding: 11px;
  margin-left: 150px;
  align-content: center;
  cursor: pointer;
  background-color: #33ff00;

}

button.NewGameButton:hover {
  background-color: blue;
}
