h1.Title {
  font-family: 'Arial';
  font-size: 31px;
  text-align: center;
  color: blue;

}

h2.Title {
  font-family: 'Arial';
  font-size: 27px;
  text-align: center;
  color: blue;

}

h3.Title {
  font-family: 'Arial';
  font-size: 25px;
  text-align: center;
  color: #33ff00;

}
