body {
  font-family: 'Arial';
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 70px;
}

.App-header {
  background-color: #33ff00;
  height: 100px;
  padding: 15px;
  color: black;
  font-size: 17px
}

.row {
  background-color: white;
  margin-top: 25px;
  height: 50px;
  padding: 7px;
  align-content: center;

}
button{
  display:inline-flex;
  height: 30px;
  width: 30px;
  border: none;
  align-content: center;
  text-align: center;
  font-size: 17px;
  font-style: bold;
  font-family: 'Arial';
  color: blue;
  padding: 7px;
  margin: 7px;
  cursor: pointer;
  background-color: #33ff00;
}
.button2{
  display:inline-flex;
  height: 50px;
  width: 70px;
  border: none;
  align-content: center;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Arial';
  color: blue;
  padding: 7px;
  margin: 7px;
  cursor: pointer;
  background-color: #33ff00;
}

.title {
  font-size: 15px;
  font-family: "Arial"
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
